body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
}

.container {
	width: 50%;
	display: flex;
	align-items: center;
	height: 720px;
}

.indexbox {
	width: 320px;
	height: auto;
	padding: 30px 30px;
	box-sizing: border-box;
	background: rgba(255, 250, 250, 0.85);
	margin: 0 auto;
	cursor: pointer;
	border-radius: 20px;
}

.indexbox button {
	width: 100%;
	margin-bottom: 40px;
}

.button1 {
	position: realtive;
	align: center;
	border: none;
	outline: none;
	height: 40px;
	width: 64%;
	color: #fff;
	font-size: 18px;
	background: #090adc;
	cursor: pointer;
	border-radius: 20px;
}

.button1:hover {
	color: #262626;
	background: #04e4e4;
}